<div class="list-group">
    <a href="/" class="list-group-item list-group-item-action">Home</a>
    <a href="/Books" class="list-group-item list-group-item-action">Books</a>
    <a href="/Authors" class="list-group-item list-group-item-action">Authors</a>
</div>
    